<%= render partial: 'layouts/navbar' %>

<div class="container">
  <% if @visible_products.present? %>
    <%= render partial: 'shared/product_card', locals: { products: @visible_products } %>
  <% else %>
    <h5 class="no-products">There are no added products yet</h5>
  <% end %>
</div>
