<div class="container">
  <div class="row details">
    <div class="empty-basket-text">
      <h3>Your basket is empty</h3>
      <%= link_to 'Start shopping', root_path, class: 'btn btn-primary btn-lg' %>
    </div>

    <div class="empty-basket">
      <i class="fa fa-shopping-cart fa-5x"></i>
    </div>
  </div>
</div>
