<%= render partial: 'layouts/navbar' %>

<div class="container">
  <% if @category %>
    <%= select_tag :name, options_from_collection_for_select(@category.categories, 'name', 'name') %>
  <% end %>

  <% if @products.present? %>
    <%= render partial: 'shared/product_card', locals: { products: @products } %>
  <% else %>
    <h5 class="no-products">There are no products for this category yet</h5>
  <% end %>
</div>
